In [10]:
import numpy as np
import pandas as pd
import pyarrow
import string
#Importing Necessary Library
#Pyarrow engine makes csv file reading writing faster for panda library

In [17]:
dataset = pd.read_csv("Datasets/trainIPAdb_u.csv", engine="pyarrow")

In [12]:
dataset.head(20)

,text,ipa
0,এরপরও তারা বকেয়া পরিশোধ করেনি।,eɾpɔɾo t̪ɐɾɐ bɔkeʲɐ poɾɪʃod̪ʱ kɔɾenɪ।
1,আগে সুইস ব্যাংকে জমা টাকার কোনো প্রতিবেদন প্রক...,ɐge suɪ̯s bɛŋke ɟɔmɐ tɐkɐɾ kono pɾot̪ɪbed̪ɔn p...
2,আদালত প্রতিষ্ঠানটি সিলগালা করে দেয়।,ɐd̪ɐlɔt̪ pɾot̪ɪʃtʱɐntɪ sɪlgɐlɐ koɾe d̪ee̯।
3,রায়ে তাদের দোষী সাব্যস্ত করা হলেও সাজা আগামী স...,ɾɐe t̪ɐd̪eɾ d̪oʃɪ ʃɐbbost̪o kɔɾɐ holeo̯ ʃɐɟɐ ɐ...
4,গ্রেফতারের পর থেকে তাদের বাঁচাতে এলাকার প্রভাব...,gɾepʰt̪ɐɾeɾ pɔɾ t̪ʰeke t̪ɐd̪eɾ bɐ̃cɐt̪e elɐkɐɾ...
5,দাম্পত্য জীবনে তাদের দুটি কন্যাসন্তান হয়।,d̪ɐmpot̪t̪o ɟɪbone t̪ɐd̪eɾ d̪utɪ konnɐʃɔnt̪ɐn ...
6,তিনি এ ধরনের উদ্যোগ গ্রহণের জন্য আয়োজকদের ধন্য...,t̪ɪnɪ e d̪ʱɔɾoneɾ ud̪d̪og gɾohoneɾ ɟonno ɐʲoɟk...
7,"এলাকাবাসী জানান, যমুনা নদীতে ড্রেজার মেশিন দিয়...","elɐkɐbɐʃɪ ɟɐnɐn, ɟomunɐ nod̪ɪt̪e dɾeɟɐɾ meʃɪn ..."
8,চেক পোস্টে পৌঁছতেই ইস্রাফিলকে আটক করে তার কাগ...,cek poste pẽcʰt̪e͡ɪ̯ ɪsɾɐpʰɪlke ɐtok koɾe t̪ɐ...
9,তার চিৎকারে বাড়ির অন্যরা ছুটে এসে একটি জানালা ...,t̪ɐɾ cɪt̪kɐɾe bɐɽɪɾ onnoɾɐ cʰute eʃe ektɪ ɟɐnɐ...
10,আদালত মামলাটি সিআইডিকে তদন্তের নির্দেশ দিলেও এ...,ɐd̪ɐlɔt̪ mɐmlɐtɪ sɪɐ̯ɪdɪke t̪ɔd̪ont̪eɾ nɪɾd̪eʃ...
11,বিদেশে অবস্থান করে তিনি দেশকে অচল করে দিতে চাচ...,bɪd̪eʃe ɔbost̪ʰɐn koɾe t̪ɪnɪ d̪eʃke ɔcɔl koɾe ...
12,এই বই দুটি রাজনৈতিক নেতাকর্মীদের পথচলায় পাথেয় ...,eɪ̯ boɪ̯ d̪utɪ ɾɐɟnoɪ̯t̪ɪk net̪ɐkoɾmɪd̪eɾ pɔt̪...
13,সেখানে অবস্থার অবনতি দেখে কর্তব্যরত চিকিৎসক উন...,ʃekʰɐne ɔbost̪ʰɐɾ ɔbonot̪ɪ d̪ekʰe kɔɾt̪obboɾɔt...
14,পাকিস্তানের অনুরাগীদের মুখের হাসির রেখা মিলিয়ে...,pɐkɪst̪ɐneɾ onuɾɐgɪd̪eɾ mukʰeɾ hɐʃɪɾ ɾekʰɐ mɪl...
15,এ সময় বগুড়া থেকে নওগাঁগামী দ্রুতগতির একটি বাস ...,e ʃɔmɔe̯ bɔguɽɐ t̪ʰeke nogɐ̃gɐmɪ d̪ɾut̪ɔgot̪ɪɾ...
16,প্রকল্প বাস্তবায়ন হলে আধুনিক শিক্ষার সঙ্গে সমন...,pɾokɔlpo bɐst̪obɐʲon hole ɐd̪ʱunɪk ʃɪkkʰɐɾ ʃɔŋ...
17,বুধবার সকালে জিঞ্জিরাম নদীতে আধা কিলোমিটার দক্...,bud̪ʱbɐɾ ʃɔkɐle ɟɪnɟɪɾɐm nod̪ɪt̪e ɐd̪ʱɐ kɪlomɪ...
18,বঙ্গবন্ধু শেখ মুজিবুর রহমানকে দেশের অনেক বড় নে...,bɔŋgobond̪ʱu ʃekʰ muɟɪbuɾ ɾɔhomɐnke d̪eʃeɾ ɔne...
19,এখন কী হবে- জানতে চাইলে নাম প্রকাশে অনিচ্ছুক ই...,ɛkʰon kɪ hɔbe- ɟɐnt̪e cɐɪ̯le nɐm pɾokɐʃe ɔnɪcc...

In [13]:
dataset.describe()

                                          text                        ipa
count                                    21999                      21999
unique                                   21971                      21967
top     বিষয়টি ভিন্ন খাতে নেয়ার অপচেষ্টা চলছে।  kʰɔboɾ d̪ɛ ɪndɪpendenteɾ।
freq                                         2                          4

In [14]:
all_punctuations =  string.punctuation + "।"
all_punctuations

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~।'

In [18]:
filtered_dataset = dataset[dataset["text"].str.contains("[A-Za-z0-9]") == False]
filtered_dataset = filtered_dataset[filtered_dataset["ipa"].str.contains("[ঀ-৾]") == False]

bangla_split = filtered_dataset["text"].str.split()
ipa_split = filtered_dataset["ipa"].str.split()

In [19]:
filtered_dataset[filtered_dataset["ipa"].str.contains("[ঀ-৾]") == True]

Empty DataFrame
Columns: [text, ipa]
Index: []

In [20]:
new_dataset_dict = {
    "bangla_word": [],
    "ipa_word": []
}

In [21]:
for bangla_sentence, ipa_sentence in zip(bangla_split, ipa_split):
    for bangla_word, ipa_word in zip(bangla_sentence, ipa_sentence):
        filtered_bangla_word, filtered_ipa_word = bangla_word.translate(bangla_word.maketrans("", "", all_punctuations)), ipa_word.translate(ipa_word.maketrans("", "", all_punctuations))
        new_dataset_dict["bangla_word"].append(filtered_bangla_word)
        new_dataset_dict["ipa_word"].append(filtered_ipa_word)

print(new_dataset_dict["bangla_word"][:20], new_dataset_dict["ipa_word"][:20])

['এরপরও', 'তারা', 'বকেয়া', 'পরিশোধ', 'করেনি', 'আগে', 'সুইস', 'ব্যাংকে', 'জমা', 'টাকার', 'কোনো', 'প্রতিবেদন', 'প্রকাশ', 'করা', 'হতো', 'না', 'আদালত', 'প্রতিষ্ঠানটি', 'সিলগালা', 'করে'] ['eɾpɔɾo', 't̪ɐɾɐ', 'bɔkeʲɐ', 'poɾɪʃod̪ʱ', 'kɔɾenɪ', 'ɐge', 'suɪ̯s', 'bɛŋke', 'ɟɔmɐ', 'tɐkɐɾ', 'kono', 'pɾot̪ɪbed̪ɔn', 'pɾokɐʃ', 'kɔɾɐ', 'hot̪o', 'nɐ', 'ɐd̪ɐlɔt̪', 'pɾot̪ɪʃtʱɐntɪ', 'sɪlgɐlɐ', 'koɾe']

In [22]:
new_dataset = pd.DataFrame(new_dataset_dict)
new_dataset.head(10)

  bangla_word   ipa_word
0       এরপরও     eɾpɔɾo
1        তারা      t̪ɐɾɐ
2       বকেয়া     bɔkeʲɐ
3      পরিশোধ  poɾɪʃod̪ʱ
4       করেনি     kɔɾenɪ
5         আগে        ɐge
6        সুইস      suɪ̯s
7     ব্যাংকে      bɛŋke
8         জমা       ɟɔmɐ
9       টাকার      tɐkɐɾ

In [23]:
new_dataset.to_parquet("Datasets/bangla_word_and_ipa.pq", engine="fastparquet")

# Extracting Phoneme alphabets from the dataset

In [24]:
import pandas as pd

In [25]:
# Load the parquet file
bangla_word_and_ipa = pd.read_parquet("Datasets/bangla_word_and_ipa.pq", engine="fastparquet",)
bangla_word_and_ipa.head(10)

  bangla_word   ipa_word
0       এরপরও     eɾpɔɾo
1        তারা      t̪ɐɾɐ
2       বকেয়া     bɔkeʲɐ
3      পরিশোধ  poɾɪʃod̪ʱ
4       করেনি     kɔɾenɪ
5         আগে        ɐge
6        সুইস      suɪ̯s
7     ব্যাংকে      bɛŋke
8         জমা       ɟɔmɐ
9       টাকার      tɐkɐɾ

In [26]:
# Print the rows in the dataset where the ipa_word column contains Bengali letters
bangla_word_and_ipa[bangla_word_and_ipa["ipa_word"].str.contains("[ঀ-৾]") == True].values

array([], shape=(0, 2), dtype=object)

In [27]:
# Extract all the unique phoneme letters from the dataset
unique_phoneme_letters = set()
for ipa_word in bangla_word_and_ipa["ipa_word"]:
    unique_phoneme_letters.update(ipa_word)

print(unique_phoneme_letters)

{'o', 'ʱ', 'ɔ', 'ø', 'g', '”', 'd', 's', 'u', 'm', 'ː', 'b', '–', 'z', 'f', '͡', 'ɽ', 'ɾ', '̪', 'v', 't', 'r', 'ɛ', 'h', 'k', '̯', 'l', 'ɪ', 'a', '“', '—', 'ɐ', 'ŋ', 'c', '̆', 'ʲ', '̃', 'ʷ', 'e', 'ʃ', '‘', 'p', 'n', 'ɟ', 'ʰ'}